@model IEnumerable<PE2.ECommerce.Domain.Entities.Order>
@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Order</th>
            <th>Date</th>
            <th>Agent</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderId</td>
            <td>@order.OrderDate.ToShortDateString()</td>
            <td>@order.Agent?.AgentName</td>
            <td>@order.Details.Sum(d => d.Quantity * d.UnitAmount).ToString("C")</td>
            <td>
                <a asp-action="Print" asp-route-id="@order.OrderId" class="btn btn-sm btn-secondary">Print</a>
            </td>
        </tr>
    }
    </tbody>
</table>
